In [75]:
import numpy as np
import pandas as pd

In [76]:
credits = pd.read_csv('tmdb_credits.csv')
movies = pd.read_csv('tmdb_movies.csv')

In [77]:
movies = movies.drop_duplicates(subset=['id'])
movies.duplicated().sum()

0

In [78]:
credits = credits.drop_duplicates(subset=['movie_id'])
credits.duplicated().sum()

0

In [79]:
credits.rename(columns={'movie_id':'id'}, inplace=True)

In [80]:
credits.drop('title' ,axis = 1, inplace = True)

In [81]:
credits.sample()

,id,cast,crew
4247,463461,"[{'name': 'Chisato Kawamura', 'role': 'Ann-Ann...","[{'name': 'Lam Yee Hung', 'department': 'Direc..."

In [82]:
movies.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
893,0,"Action, Comedy, Crime",https://www.netflix.com/title/81702144,1139817,"martial arts, police officer, dramatic, amused",ko,무도실무관,A talented martial artist who can't walk past ...,58.365,"Climax Studios, STUDIO706",KR,2024-09-10,0,108,ko,Released,Strike crime before it strikes the world.,Officer Black Belt,7.7,262

In [83]:
movies = movies.merge(credits, on='id')

In [84]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,150000000,"Animation, Adventure, Family, Comedy",https://movies.disney.com/moana-2,1241982,"sea, ocean, villain, musical, sequel, duringcr...",en,Moana 2,After receiving an unexpected call from her wa...,3664.907,"Walt Disney Pictures, Walt Disney Animation St...",...,1044396565,99,en,Released,The ocean is calling them back.,Moana 2,7.2,1536,"[{'name': 'Auliʻi Cravalho', 'role': 'Moana (v...","[{'name': 'David G. Derrick Jr.', 'department'..."

In [85]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3901 entries, 0 to 3900
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3901 non-null   int64
 1   genres                3889 non-null   object
 2   homepage              2029 non-null   object
 3   id                    3901 non-null   int64
 4   keywords              3643 non-null   object
 5   original_language     3901 non-null   object
 6   original_title        3901 non-null   object
 7   overview              3876 non-null   object
 8   popularity            3901 non-null   float64
 9   production_companies  3771 non-null   object
 10  production_countries  3858 non-null   object
 11  release_date          3894 non-null   object
 12  revenue               3901 non-null   int64
 13  runtime               3901 non-null   int64
 14  spoken_languages      3884 non-null   object
 15  status                3901 non-null   object
 16  tagline               3152 non-null   object
 17  title                 3901 non-null   object
 18  vote_average          3901 non-null   float64
 19  vote_count            3901 non-null   int64
 20  cast                  3901 non-null   object
 21  crew                  3901 non-null   object
dtypes: float64(2), int64(5), object(15)
memory usage: 701.0+ KB

In [27]:
# genres id keywords overview title cast crew

In [86]:
movies = movies[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [87]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,1241982,Moana 2,After receiving an unexpected call from her wa...,"Animation, Adventure, Family, Comedy","sea, ocean, villain, musical, sequel, duringcr...","[{'name': 'Auliʻi Cravalho', 'role': 'Moana (v...","[{'name': 'David G. Derrick Jr.', 'department'..."
1,927342,Amaran,A heroic true story of Major Mukund Varadaraja...,"Action, Drama, Adventure, War","based on novel or book, affectation, based on ...","[{'name': 'Sivakarthikeyan', 'role': 'Major Mu...","[{'name': 'C. H. Sai', 'department': 'Camera'}..."
2,822119,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,"Action, Thriller, Science Fiction","hero, superhero, revenge, blunt, aftercreditss...","[{'name': 'Anthony Mackie', 'role': 'Sam Wilso...","[{'name': 'Kevin Feige', 'department': 'Produc..."
3,939243,Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...","Action, Science Fiction, Comedy, Family","moon, sequel, based on video game, burlesque, ...","[{'name': 'Jim Carrey', 'role': 'Ivo Robotnik ...","[{'name': 'Neal H. Moritz', 'department': 'Pro..."
4,1160956,Panda Plan,International action star Jackie Chan is invit...,"Action, Comedy","assistant, zoo, panda, superstar, rescue opera...","[{'name': 'Jackie Chan', 'role': 'Jackie'}, {'...","[{'name': 'Wei Xu', 'department': 'Writing'}, ..."

In [90]:
movies.shape

(3901, 7)

In [95]:
movies.isnull().sum()

id            0
title         0
overview     25
genres       12
keywords    258
cast          0
crew          0
dtype: int64

In [96]:
movies = movies.dropna(subset=['overview', 'genres'])

In [99]:
movies['keywords'].fillna('', inplace=True)

In [101]:
movies.isnull().sum()

id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [102]:
movies.shape

(3866, 7)

In [104]:
movies[movies['title'] == 'Avatar']

,id,title,overview,genres,keywords,cast,crew
167,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","paraplegic, attachment to nature, culture clas...","[{'name': 'Sam Worthington', 'role': 'Jake Sul...","[{'name': 'John Refoua', 'department': 'Editin..."

In [106]:
movies.genres[0]

'Animation, Adventure, Family, Comedy'

In [114]:
movies['genres'] = movies['genres'].apply(lambda x: x.split(','))

In [116]:
movies.sample()

,id,title,overview,genres,keywords,cast,crew
3503,91342,Barbie in A Mermaid Tale 2,Surf's up for Barbie as she returns as Merliah...,"[Animation, Family]","princess, mermaid, based on toy","[{'name': 'Kelly Sheridan', 'role': 'Merliah (...","[{'name': 'Brandon Tinney', 'department': 'Vis..."

In [117]:
movies['keywords'] = movies['keywords'].apply(lambda x: x.split(','))

In [118]:
movies.sample()

,id,title,overview,genres,keywords,cast,crew
173,940551,Migration,After a migrating duck family alights on their...,"[Animation, Adventure, Comedy, Family]","[duck, villain, migration, flight, anthrop...","[{'name': 'Kumail Nanjiani', 'role': 'Mack Mal...","[{'name': 'Benjamin Renner', 'department': 'Di..."

In [123]:
movies['cast'][1]

'[{\'name\': \'Sivakarthikeyan\', \'role\': \'Major Mukund Varadarajan\'}, {\'name\': \'Sai Pallavi\', \'role\': \'Indhu Rebecca Varghese\'}, {\'name\': \'Rahul Bose\', \'role\': \'Colonel Amit Singh Dabas\'}, {\'name\': \'Bhuvan Arora\', \'role\': \'Vikram Singh\'}, {\'name\': \'Lallu Prasath\', \'role\': \'Ravi Shankar\'}, {\'name\': \'Shyam Mohan\', \'role\': "Indhu\'s brother"}, {\'name\': \'Mir Salman\', \'role\': \'Saifudeen K\'}, {\'name\': \'Shyamaprasad\', \'role\': \'R. Varadarajan\'}, {\'name\': \'Geetha Kailasam\', \'role\': \'Geetha Varadarajan\'}, {\'name\': \'Gaurav Venkatesh\', \'role\': \'Sepoy Venkanna\'}, {\'name\': \'Shreekumar\', \'role\': \'Michael\'}, {\'name\': \'Umair Lateef\', \'role\': \'Waheed\'}, {\'name\': \'Abhinav Raj\', \'role\': \'Major Srinath\'}, {\'name\': \'Vaibhav Murugesan\', \'role\': \'Vinod\'}, {\'name\': \'Prayas Mann\', \'role\': \'Joginder Singh\'}, {\'name\': \'Hanun Bawra\', \'role\': \'Abbas Nangroo (Terrorist)\'}, {\'name\': \'Anbu Thasan\', \'role\': \'Sepoy\'}, {\'name\': \'Ajaey Naga Raaman\', \'role\': \'Rajesh Shukla\'}, {\'name\': \'Paul T Baby\', \'role\': \'Andrews\'}, {\'name\': \'Sugamya Shankar\', \'role\': "Nithya (Mukund\'s Sister)"}, {\'name\': \'Rohan Surya Kanuma Reddy\', \'role\': \'Rifleman Narasimha Rao\'}, {\'name\': \'Shrysh Zutshi\', \'role\': \'Atlaf Baba (Terrorist)\'}, {\'name\': \'Vikas Bangar\', \'role\': \'Jyoti Sharma\'}, {\'name\': \'Rohman Shawl\', \'role\': \'Asif Wani (Terrorist)\'}, {\'name\': \'Yasir Arafat Rahim\', \'role\': \'Yadhav\'}]'

In [ ]:
import ast

def getCast(str_obj):
    obj = ast.literal_eval(str_obj)
    top3 = 3
    cast = []
    for i in obj[:top3]:
        cast.append(i['name'])

    return cast

In [ ]:
movies['cast'] = movies['cast'].apply(getCast)

In [135]:
movies

,id,title,overview,genres,keywords,cast,crew
0,1241982,Moana 2,After receiving an unexpected call from her wa...,"[Animation, Adventure, Family, Comedy]","[sea, ocean, villain, musical, sequel, du...","[Auliʻi Cravalho, Dwayne Johnson, Hualālai Chung]","[{'name': 'David G. Derrick Jr.', 'department'..."
1,927342,Amaran,A heroic true story of Major Mukund Varadaraja...,"[Action, Drama, Adventure, War]","[based on novel or book, affectation, based ...","[Sivakarthikeyan, Sai Pallavi, Rahul Bose]","[{'name': 'C. H. Sai', 'department': 'Camera'}..."
2,822119,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,"[Action, Thriller, Science Fiction]","[hero, superhero, revenge, blunt, aftercre...","[Anthony Mackie, Harrison Ford, Danny Ramirez]","[{'name': 'Kevin Feige', 'department': 'Produc..."
3,939243,Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...","[Action, Science Fiction, Comedy, Family]","[moon, sequel, based on video game, burlesq...","[Jim Carrey, Ben Schwartz, Keanu Reeves]","[{'name': 'Neal H. Moritz', 'department': 'Pro..."
4,1160956,Panda Plan,International action star Jackie Chan is invit...,"[Action, Comedy]","[assistant, zoo, panda, superstar, rescue ...","[Jackie Chan, Shi Ce, Wei Xiang]","[{'name': 'Wei Xu', 'department': 'Writing'}, ..."
...,...,...,...,...,...,...,...
3896,1080512,Pandemonium,Nathan and Daniel are caught in a road acciden...,"[Horror, Drama]","[visions of hell, macabre, horror anthology]","[Arben Bajraktaraj, Ophélia Kolb, Manon Maindi...","[{'name': 'Quarxx', 'department': 'Directing'}..."
3897,901385,Significant Other,Ruth and Harry decide to take a romantic backp...,"[Science Fiction, Thriller, Horror, Mystery...","[marriage proposal, camping, cliff, hiking,...","[Maika Monroe, Jake Lacy, Matthew Yang King]","[{'name': 'Matt Mitchell', 'department': 'Came..."
3898,11439,The Ghost Writer,A writer stumbles upon a long-hidden secret wh...,"[Thriller, Mystery]","[london, england, central intelligence agenc...","[Ewan McGregor, Pierce Brosnan, Kim Cattrall]","[{'name': 'Robert Harris', 'department': 'Writ..."
3899,526050,Little,"Jordan Sanders, a take-no-prisoners tech mogul...","[Comedy, Fantasy, Romance]","[friendship, dreams, assistant, business wo...","[Regina Hall, Issa Rae, Marsai Martin]","[{'name': 'Gary Archer', 'department': 'Costum..."
3900,6615,Lars and the Real Girl,Extremely shy Lars finds it impossible to make...,"[Comedy, Drama, Romance]","[dying and death, shyness, wisconsin, delus...","[Ryan Gosling, Emily Mortimer, Paul Schneider]","[{'name': 'Sarah Aubrey', 'department': 'Produ..."

In [140]:
str_obj  =  ast.literal_eval(movies['crew'][0])

obj =str_obj

obj

for role in obj:
    if role['department'] == 'Directing':
        print(role['name'])

David G. Derrick Jr.
Jason Hand
Dana Ledoux Miller

In [144]:
def getDirector(str_obj):
    obj = ast.literal_eval(str_obj)
    director = []
    for role in obj:
        if role['department'] == 'Directing':
            director.append(role['name'])
    
    return director

In [145]:
movies['director'] = movies['crew'].apply(getDirector)

In [148]:
movies[movies['title'] == 'The Dark Knight']

,id,title,overview,genres,keywords,cast,crew,director
104,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"[Drama, Action, Crime, Thriller]","[joker, sadism, chaos, secret identity, cr...","[Christian Bale, Heath Ledger, Aaron Eckhart]","[{'name': 'Lee Smith', 'department': 'Editing'...","[Steve Gehrke, Brandon Lambdin, Nilo Otero, Ch..."

In [151]:
movies.drop('crew', axis = 1, inplace = True)

In [152]:
movies

,id,title,overview,genres,keywords,cast,director
0,1241982,Moana 2,After receiving an unexpected call from her wa...,"[Animation, Adventure, Family, Comedy]","[sea, ocean, villain, musical, sequel, du...","[Auliʻi Cravalho, Dwayne Johnson, Hualālai Chung]","[David G. Derrick Jr., Jason Hand, Dana Ledoux..."
1,927342,Amaran,A heroic true story of Major Mukund Varadaraja...,"[Action, Drama, Adventure, War]","[based on novel or book, affectation, based ...","[Sivakarthikeyan, Sai Pallavi, Rahul Bose]",[Rajkumar Periasamy]
2,822119,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,"[Action, Thriller, Science Fiction]","[hero, superhero, revenge, blunt, aftercre...","[Anthony Mackie, Harrison Ford, Danny Ramirez]","[Julius Onah, Michele Panelli-Venetis, Robert ..."
3,939243,Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...","[Action, Science Fiction, Comedy, Family]","[moon, sequel, based on video game, burlesq...","[Jim Carrey, Ben Schwartz, Keanu Reeves]","[Jeff Fowler, Joey Coughlin, Peter Lyons Colli..."
4,1160956,Panda Plan,International action star Jackie Chan is invit...,"[Action, Comedy]","[assistant, zoo, panda, superstar, rescue ...","[Jackie Chan, Shi Ce, Wei Xiang]",[Zhang Luan]
...,...,...,...,...,...,...,...
3896,1080512,Pandemonium,Nathan and Daniel are caught in a road acciden...,"[Horror, Drama]","[visions of hell, macabre, horror anthology]","[Arben Bajraktaraj, Ophélia Kolb, Manon Maindi...",[Quarxx]
3897,901385,Significant Other,Ruth and Harry decide to take a romantic backp...,"[Science Fiction, Thriller, Horror, Mystery...","[marriage proposal, camping, cliff, hiking,...","[Maika Monroe, Jake Lacy, Matthew Yang King]","[Robert Olsen, Dan Berk, Kevin Brown, Amanda B..."
3898,11439,The Ghost Writer,A writer stumbles upon a long-hidden secret wh...,"[Thriller, Mystery]","[london, england, central intelligence agenc...","[Ewan McGregor, Pierce Brosnan, Kim Cattrall]","[Roman Polanski, Sylvette Baudrot, Anna Zenowi..."
3899,526050,Little,"Jordan Sanders, a take-no-prisoners tech mogul...","[Comedy, Fantasy, Romance]","[friendship, dreams, assistant, business wo...","[Regina Hall, Issa Rae, Marsai Martin]",[Tina Gordon]
3900,6615,Lars and the Real Girl,Extremely shy Lars finds it impossible to make...,"[Comedy, Drama, Romance]","[dying and death, shyness, wisconsin, delus...","[Ryan Gosling, Emily Mortimer, Paul Schneider]","[Craig Gillespie, Tim Singh, Libby Hodgson, Pa..."

In [154]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [160]:
movies.sample()

,id,title,overview,genres,keywords,cast,director
1910,774752,The Guardians of the Galaxy Holiday Special,"[On, a, mission, to, make, Christmas, unforget...","[Comedy, Science Fiction, Adventure]","[holiday, superhero, celebrity, saving chri...","[Chris Pratt, Dave Bautista, Karen Gillan]","[Amir R. Khan, Lars P. Winther, Arielle DePace..."

In [158]:
cast = ['Logan Lerman', 'Emma Watson', 'Ezra Miller']

new_cast = [name.replace(" ","") for name in cast]
new_cast

['LoganLerman', 'EmmaWatson', 'EzraMiller']

In [168]:
cols = movies.columns[3:]
cols

Index(['genres', 'keywords', 'cast', 'director'], dtype='object')

In [166]:
for col_name in cols:
    movies[col_name] = movies[col_name].apply(lambda cast : [name.replace(' ', '') for name in cast])

In [167]:
movies.head()

,id,title,overview,genres,keywords,cast,director
0,1241982,Moana 2,"[After, receiving, an, unexpected, call, from,...","[Animation, Adventure, Family, Comedy]","[sea, ocean, villain, musical, sequel, duringc...","[AuliʻiCravalho, DwayneJohnson, HualālaiChung]","[DavidG.DerrickJr., JasonHand, DanaLedouxMiller]"
1,927342,Amaran,"[A, heroic, true, story, of, Major, Mukund, Va...","[Action, Drama, Adventure, War]","[basedonnovelorbook, affectation, basedontrues...","[Sivakarthikeyan, SaiPallavi, RahulBose]",[RajkumarPeriasamy]
2,822119,Captain America: Brave New World,"[After, meeting, with, newly, elected, U.S., P...","[Action, Thriller, ScienceFiction]","[hero, superhero, revenge, blunt, aftercredits...","[AnthonyMackie, HarrisonFord, DannyRamirez]","[JuliusOnah, MichelePanelli-Venetis, RobertAlo..."
3,939243,Sonic the Hedgehog 3,"[Sonic,, Knuckles,, and, Tails, reunite, again...","[Action, ScienceFiction, Comedy, Family]","[moon, sequel, basedonvideogame, burlesque, du...","[JimCarrey, BenSchwartz, KeanuReeves]","[JeffFowler, JoeyCoughlin, PeterLyonsCollister..."
4,1160956,Panda Plan,"[International, action, star, Jackie, Chan, is...","[Action, Comedy]","[assistant, zoo, panda, superstar, rescueopera...","[JackieChan, ShiCe, WeiXiang]",[ZhangLuan]

In [169]:
movies['tags'] = movies['overview']

In [170]:
movies.head()

,id,title,overview,genres,keywords,cast,director,tags
0,1241982,Moana 2,"[After, receiving, an, unexpected, call, from,...","[Animation, Adventure, Family, Comedy]","[sea, ocean, villain, musical, sequel, duringc...","[AuliʻiCravalho, DwayneJohnson, HualālaiChung]","[DavidG.DerrickJr., JasonHand, DanaLedouxMiller]","[After, receiving, an, unexpected, call, from,..."
1,927342,Amaran,"[A, heroic, true, story, of, Major, Mukund, Va...","[Action, Drama, Adventure, War]","[basedonnovelorbook, affectation, basedontrues...","[Sivakarthikeyan, SaiPallavi, RahulBose]",[RajkumarPeriasamy],"[A, heroic, true, story, of, Major, Mukund, Va..."
2,822119,Captain America: Brave New World,"[After, meeting, with, newly, elected, U.S., P...","[Action, Thriller, ScienceFiction]","[hero, superhero, revenge, blunt, aftercredits...","[AnthonyMackie, HarrisonFord, DannyRamirez]","[JuliusOnah, MichelePanelli-Venetis, RobertAlo...","[After, meeting, with, newly, elected, U.S., P..."
3,939243,Sonic the Hedgehog 3,"[Sonic,, Knuckles,, and, Tails, reunite, again...","[Action, ScienceFiction, Comedy, Family]","[moon, sequel, basedonvideogame, burlesque, du...","[JimCarrey, BenSchwartz, KeanuReeves]","[JeffFowler, JoeyCoughlin, PeterLyonsCollister...","[Sonic,, Knuckles,, and, Tails, reunite, again..."
4,1160956,Panda Plan,"[International, action, star, Jackie, Chan, is...","[Action, Comedy]","[assistant, zoo, panda, superstar, rescueopera...","[JackieChan, ShiCe, WeiXiang]",[ZhangLuan],"[International, action, star, Jackie, Chan, is..."

In [171]:
for col in cols:
    movies['tags'] += movies[col]

In [173]:
movies.tags[0]

['After',
 'receiving',
 'an',
 'unexpected',
 'call',
 'from',
 'her',
 'wayfinding',
 'ancestors,',
 'Moana',
 'journeys',
 'alongside',
 'Maui',
 'and',
 'a',
 'new',
 'crew',
 'to',
 'the',
 'far',
 'seas',
 'of',
 'Oceania',
 'and',
 'into',
 'dangerous,',
 'long-lost',
 'waters',
 'for',
 'an',
 'adventure',
 'unlike',
 'anything',
 "she's",
 'ever',
 'faced.',
 'Animation',
 'Adventure',
 'Family',
 'Comedy',
 'sea',
 'ocean',
 'villain',
 'musical',
 'sequel',
 'duringcreditsstinger',
 'absurd',
 'AuliʻiCravalho',
 'DwayneJohnson',
 'HualālaiChung',
 'DavidG.DerrickJr.',
 'JasonHand',
 'DanaLedouxMiller']

In [315]:
new_df = movies[['id', 'title', 'tags']]

In [316]:
new_df

,id,title,tags
0,1241982,Moana 2,"[After, receiving, an, unexpected, call, from,..."
1,927342,Amaran,"[A, heroic, true, story, of, Major, Mukund, Va..."
2,822119,Captain America: Brave New World,"[After, meeting, with, newly, elected, U.S., P..."
3,939243,Sonic the Hedgehog 3,"[Sonic,, Knuckles,, and, Tails, reunite, again..."
4,1160956,Panda Plan,"[International, action, star, Jackie, Chan, is..."
...,...,...,...
3896,1080512,Pandemonium,"[Nathan, and, Daniel, are, caught, in, a, road..."
3897,901385,Significant Other,"[Ruth, and, Harry, decide, to, take, a, romant..."
3898,11439,The Ghost Writer,"[A, writer, stumbles, upon, a, long-hidden, se..."
3899,526050,Little,"[Jordan, Sanders,, a, take-no-prisoners, tech,..."
3900,6615,Lars and the Real Girl,"[Extremely, shy, Lars, finds, it, impossible, ..."

In [317]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\shubh\AppData\Local\Temp\ipykernel_11680\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [318]:
print(new_df['title'][100])
print(new_df['tags'][100])

Pleasure
19 year old Linnéa leaves her small town in Sweden and heads for Los Angeles with the aim of becoming the world's next big porn star, but the road to her goal turns out to be bumpier than she imagined. Drama pornography femalefriendship pornstar femaleprotagonist losangeles california pornindustry pornactress womandirector intimate absurd disgusted SofiaKappel ZeldaMorrison TeeReel JessamynLand JasonM.Roberts MikeRoque ZacharyWalker KhayiClement EmilyMathason AdamAndersson Kentucky JeniferEllis StevenRodgers SarahGarrettson KatieScholz NinjaThyberg

In [319]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\shubh\AppData\Local\Temp\ipykernel_11680\1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [320]:
new_df['tags'][100]

"19 year old linnéa leaves her small town in sweden and heads for los angeles with the aim of becoming the world's next big porn star, but the road to her goal turns out to be bumpier than she imagined. drama pornography femalefriendship pornstar femaleprotagonist losangeles california pornindustry pornactress womandirector intimate absurd disgusted sofiakappel zeldamorrison teereel jessamynland jasonm.roberts mikeroque zacharywalker khayiclement emilymathason adamandersson kentucky jeniferellis stevenrodgers sarahgarrettson katiescholz ninjathyberg"

In [321]:
new_df.shape

(3866, 3)

In [322]:
import re
from nltk.stem import PorterStemmer

ps = PorterStemmer()

def clean_text(text):
    text = re.sub(r'[^\w\s]', '', text).lower()
    return ' '.join([ps.stem(word) for word in text.split()])

In [323]:
new_df['tags'] = new_df['tags'].apply(clean_text)

C:\Users\shubh\AppData\Local\Temp\ipykernel_11680\1957625099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(clean_text)

In [324]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=4000, stop_words='english', token_pattern=r'\b\w+\b')

In [325]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [326]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [332]:
from sklearn.metrics.pairwise import cosine_similarity

In [333]:
similarity = cosine_similarity(vectors)

In [334]:
similarity

array([[1.        , 0.0559017 , 0.        , ..., 0.        , 0.03125   ,
        0.07995027],
       [0.0559017 , 1.        , 0.07798129, ..., 0.11009638, 0.        ,
        0.23836565],
       [0.        , 0.07798129, 1.        , ..., 0.02861819, 0.02906191,
        0.02478408],
       ...,
       [0.        , 0.11009638, 0.02861819, ..., 1.        , 0.09231862,
        0.07872958],
       [0.03125   , 0.        , 0.02906191, ..., 0.09231862, 1.        ,
        0.05330018],
       [0.07995027, 0.23836565, 0.02478408, ..., 0.07872958, 0.05330018,
        1.        ]])

In [335]:
similarity[0]

array([1.        , 0.0559017 , 0.        , ..., 0.        , 0.03125   ,
       0.07995027])

In [336]:
similarity.shape

(3866, 3866)

In [1]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    print(movie_index)

In [340]:
new_df[new_df['title'] == 'Avatar'].index[0]

167

In [344]:
new_df[new_df['title'] == 'Batman Begins']

Empty DataFrame
Columns: [id, title, tags]
Index: []