In [2]:
import pandas as pd
import numpy as np

In [3]:
movies_5000 = pd.read_csv('../data/kaggle/tmdb_5000_movies.csv')
credits_5000 = pd.read_csv('../data/kaggle/tmdb_5000_credits.csv')

In [4]:
movies = pd.read_csv('../data/api/tmdb_movies.csv')
credits = pd.read_csv('../data/api/tmdb_credits.csv')

In [359]:
movies = movies.drop_duplicates(subset=['id'])
movies.duplicated().sum()

0

In [360]:
credits = credits.drop_duplicates(subset=['movie_id'])
credits.duplicated().sum()

0

In [361]:
credits_5000 = credits_5000.drop_duplicates(subset=['movie_id'])
credits_5000.duplicated().sum()

0

In [362]:
movies_5000 = movies_5000.drop_duplicates(subset=['id'])
movies_5000.duplicated().sum()

0

In [363]:
credits.rename(columns={'movie_id':'id'}, inplace=True)

In [364]:
credits.drop('title' ,axis = 1, inplace = True)

In [365]:
credits_5000.rename(columns={'movie_id':'id'}, inplace=True)

In [366]:
credits_5000.drop('title' ,axis = 1, inplace = True)

In [367]:
movies_5000[movies_5000['title'] == 'Fight Club']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
662,63000000,"[{""id"": 18, ""name"": ""Drama""}]",http://www.foxmovies.com/movies/fight-club,550,"[{""id"": 825, ""name"": ""support group""}, {""id"": ...",en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,146.757391,"[{""name"": ""Regency Enterprises"", ""id"": 508}, {...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",1999-10-15,100853753,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mischief. Mayhem. Soap.,Fight Club,8.3,9413

In [368]:
movies_5000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 788.0+ KB

In [369]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3901 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3901 non-null   int64
 1   genres                3889 non-null   object
 2   homepage              2029 non-null   object
 3   id                    3901 non-null   int64
 4   keywords              3643 non-null   object
 5   original_language     3901 non-null   object
 6   original_title        3901 non-null   object
 7   overview              3876 non-null   object
 8   popularity            3901 non-null   float64
 9   production_companies  3771 non-null   object
 10  production_countries  3858 non-null   object
 11  release_date          3894 non-null   object
 12  revenue               3901 non-null   int64
 13  runtime               3901 non-null   int64
 14  spoken_languages      3884 non-null   object
 15  status                3901 non-null   object
 16  tagline               3152 non-null   object
 17  title                 3901 non-null   object
 18  vote_average          3901 non-null   float64
 19  vote_count            3901 non-null   int64
dtypes: float64(2), int64(5), object(13)
memory usage: 640.0+ KB

In [370]:
movies_5000.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3424,6500000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,34723,"[{""id"": 168598, ""name"": ""southern accent""}, {""...",en,The Adventures of Huck Finn,Climb aboard for an extraordinary version of M...,2.163683,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1993-04-02,0,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,For anyone who has ever dreamed of running awa...,The Adventures of Huck Finn,6.2,42

In [371]:
movies = movies.merge(credits, on='id')

In [372]:
movies_5000 = movies_5000.merge(credits_5000, on='id')

In [373]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3901 entries, 0 to 3900
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3901 non-null   int64
 1   genres                3889 non-null   object
 2   homepage              2029 non-null   object
 3   id                    3901 non-null   int64
 4   keywords              3643 non-null   object
 5   original_language     3901 non-null   object
 6   original_title        3901 non-null   object
 7   overview              3876 non-null   object
 8   popularity            3901 non-null   float64
 9   production_companies  3771 non-null   object
 10  production_countries  3858 non-null   object
 11  release_date          3894 non-null   object
 12  revenue               3901 non-null   int64
 13  runtime               3901 non-null   int64
 14  spoken_languages      3884 non-null   object
 15  status                3901 non-null   object
 16  tagline               3152 non-null   object
 17  title                 3901 non-null   object
 18  vote_average          3901 non-null   float64
 19  vote_count            3901 non-null   int64
 20  cast                  3901 non-null   object
 21  crew                  3901 non-null   object
dtypes: float64(2), int64(5), object(15)
memory usage: 701.0+ KB

In [374]:
movies_5000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   object
 21  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB

In [375]:
movies = movies[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew', 'vote_average']]

In [376]:
movies_5000 = movies_5000[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew', 'vote_average']]

In [377]:
movies.head()

,id,title,overview,genres,keywords,cast,crew,vote_average
0,1241982,Moana 2,After receiving an unexpected call from her wa...,"Animation, Adventure, Family, Comedy","sea, ocean, villain, musical, sequel, duringcr...","[{'name': 'Auliʻi Cravalho', 'role': 'Moana (v...","[{'name': 'David G. Derrick Jr.', 'department'...",7.200
1,927342,Amaran,A heroic true story of Major Mukund Varadaraja...,"Action, Drama, Adventure, War","based on novel or book, affectation, based on ...","[{'name': 'Sivakarthikeyan', 'role': 'Major Mu...","[{'name': 'C. H. Sai', 'department': 'Camera'}...",8.167
2,822119,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,"Action, Thriller, Science Fiction","hero, superhero, revenge, blunt, aftercreditss...","[{'name': 'Anthony Mackie', 'role': 'Sam Wilso...","[{'name': 'Kevin Feige', 'department': 'Produc...",6.200
3,939243,Sonic the Hedgehog 3,"Sonic, Knuckles, and Tails reunite against a p...","Action, Science Fiction, Comedy, Family","moon, sequel, based on video game, burlesque, ...","[{'name': 'Jim Carrey', 'role': 'Ivo Robotnik ...","[{'name': 'Neal H. Moritz', 'department': 'Pro...",7.777
4,1160956,Panda Plan,International action star Jackie Chan is invit...,"Action, Comedy","assistant, zoo, panda, superstar, rescue opera...","[{'name': 'Jackie Chan', 'role': 'Jackie'}, {'...","[{'name': 'Wei Xu', 'department': 'Writing'}, ...",7.277

In [378]:
movies_5000.head()

,id,title,overview,genres,keywords,cast,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.9
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",6.3
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",7.6
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",6.1

In [379]:
movies.shape

(3901, 8)

In [380]:
movies_5000.shape

(4803, 8)

In [381]:
movies.isnull().sum()

id                0
title             0
overview         25
genres           12
keywords        258
cast              0
crew              0
vote_average      0
dtype: int64

In [382]:
movies_5000.isnull().sum()

id              0
title           0
overview        3
genres          0
keywords        0
cast            0
crew            0
vote_average    0
dtype: int64

In [383]:
movies_5000.dropna(inplace=True)

In [384]:
movies_5000.isnull().sum()

id              0
title           0
overview        0
genres          0
keywords        0
cast            0
crew            0
vote_average    0
dtype: int64

In [385]:
movies = movies.dropna(subset=['overview', 'genres'])

In [386]:
movies['keywords'].fillna('', inplace=True)

In [387]:
movies.isnull().sum()

id              0
title           0
overview        0
genres          0
keywords        0
cast            0
crew            0
vote_average    0
dtype: int64

In [388]:
movies_5000.shape

(4800, 8)

In [389]:
movies.shape

(3866, 8)

In [390]:
movies['genres'] = movies['genres'].apply(lambda x: x.split(','))
movies['keywords'] = movies['keywords'].apply(lambda x: x.split(','))

In [391]:
movies.sample()

,id,title,overview,genres,keywords,cast,crew,vote_average
2294,989937,The Seven Deadly Sins: Grudge of Edinburgh Part 1,"Tristan, the son of Meliodas and Elizabeth, in...","[Animation, Fantasy, Adventure, Action]","[based on manga, anime]","[{'name': 'Ayumu Murase', 'role': 'Tristan (vo...","[{'name': 'Bob Shirohata', 'department': 'Dire...",7.802

In [392]:
import ast

def getCast(str_obj):
    obj = ast.literal_eval(str_obj)
    top3 = 3
    cast = []
    for i in obj[:top3]:
        cast.append(i['name'])

    return cast

In [393]:
movies['cast'] = movies['cast'].apply(getCast)

In [394]:
movies.sample()

,id,title,overview,genres,keywords,cast,crew,vote_average
2079,544401,Cherry,Cherry drifts from college dropout to army med...,"[Drama, Crime]","[post-traumatic stress disorder (ptsd), based...","[Tom Holland, Ciara Bravo, Jack Reynor]","[{'name': 'Dustin Bowser', 'department': 'Visu...",7.351

In [395]:
def getDirector(str_obj):
    obj = ast.literal_eval(str_obj)
    director = []
    for role in obj:
        if role['department'] == 'Directing':
            director.append(role['name'])
    
    return director

In [396]:
movies['director'] = movies['crew'].apply(getDirector)

In [397]:
movies[movies['title'] == 'The Dark Knight']

,id,title,overview,genres,keywords,cast,crew,vote_average,director
104,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"[Drama, Action, Crime, Thriller]","[joker, sadism, chaos, secret identity, cr...","[Christian Bale, Heath Ledger, Aaron Eckhart]","[{'name': 'Lee Smith', 'department': 'Editing'...",8.519,"[Steve Gehrke, Brandon Lambdin, Nilo Otero, Ch..."

In [398]:
movies.drop('crew', axis = 1, inplace = True)

In [399]:
movies.sample()

,id,title,overview,genres,keywords,cast,vote_average,director
722,1059372,Dear David,A secret fantasy blog might jeopardize the pro...,"[Drama, Romance, Fantasy]","[high school, bullying, love, student]","[Shenina Cinnamon, Emir Mahira, Caitlin North ...",6.2,[Lucky Kuswandi]

In [400]:
movies_5000.head(1)

,id,title,overview,genres,keywords,cast,crew,vote_average
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",7.2

In [401]:
def getName(str_obj):
    obj = ast.literal_eval(str_obj)
    name = []
    for i in obj:
        name.append(i['name'])
    
    return name

In [402]:
movies_5000['genres'] = movies_5000['genres'].apply(getName)
movies_5000['keywords'] = movies_5000['keywords'].apply(getName)

In [403]:
movies_5000.sample()

,id,title,overview,genres,keywords,cast,crew,vote_average
1665,11162,The Merchant of Venice,"In 16th century Venice, when a merchant must d...","[Drama, Romance]","[venice, shakespeare, jew, ship, salesperson, ...","[{""cast_id"": 1, ""character"": ""Shylock"", ""credi...","[{""credit_id"": ""52fe44049251416c750262b9"", ""de...",6.7

In [404]:
def getCast(str_obj):
    obj = ast.literal_eval(str_obj)
    top3 = 3
    cast = []

    for i in obj[:top3]:
        cast.append(i['name'])

    return cast

In [405]:
movies_5000['cast'] = movies_5000['cast'].apply(getCast)

In [406]:
movies_5000.sample()

,id,title,overview,genres,keywords,cast,crew,vote_average
1828,117,The Untouchables,Young Treasury Agent Elliot Ness arrives in Ch...,"[Crime, Drama, History, Thriller]","[white suit, al capone, tough cop, treasury ag...","[Kevin Costner, Sean Connery, Charles Martin S...","[{""credit_id"": ""52fe421ac3a36847f8004273"", ""de...",7.6

In [407]:
def getDirector(str_obj):
    obj = ast.literal_eval(str_obj)

    director = []

    for i in obj:
        if i['department'] == 'Directing':
            director.append(i['name'])
    
    return director

In [408]:
movies_5000['director'] = movies_5000['crew'].apply(getDirector)

In [409]:
movies_5000.drop('crew', axis = 1, inplace = True)

In [410]:
movies_5000.sample()

,id,title,overview,genres,keywords,cast,vote_average,director
2816,3049,Ace Ventura: Pet Detective,He's Ace Ventura: Pet Detective. Jim Carrey is...,"[Comedy, Mystery]","[dolphin, mascot, private detective, pets]","[Jim Carrey, Sean Young, Courteney Cox]",6.4,[Tom Shadyac]

In [411]:
movies.sample()

,id,title,overview,genres,keywords,cast,vote_average,director
630,615777,Babylon,A tale of outsized ambition and outrageous exc...,"[Drama, Comedy]","[elephant, gambling, gambling debt, movie b...","[Brad Pitt, Margot Robbie, Diego Calva]",7.376,"[Robert E. Kay, Bob Wagner, David Marnell, Car..."

In [412]:
print('movies:', movies.shape)
print('movies_5000:', movies_5000.shape)

movies: (3866, 8)
movies_5000: (4800, 8)

In [ ]:
cols = movies.columns[3:]
cols

Index(['genres', 'keywords', 'cast', 'vote_average', 'director'], dtype='object')

In [415]:
for col_name in cols:
    if col_name == 'vote_average':continue
    movies[col_name] = movies[col_name].apply(lambda cast : [name.replace(' ', '') for name in cast])
    movies_5000[col_name] = movies_5000[col_name].apply(lambda cast : [name.replace(' ', '') for name in cast])

In [416]:
movies_5000.sample()

,id,title,overview,genres,keywords,cast,vote_average,director
4321,39895,From a Whisper to a Scream,The uncle of an executed murderess relates fou...,"[Comedy, Horror]","[civilwar, narration, voodoo, necrophilia, ant...","[VincentPrice, CluGulager, TerryKiser]",6.8,[JeffBurr]

In [417]:
movies.sample()

,id,title,overview,genres,keywords,cast,vote_average,director
2621,47002,Love Letter,Hiroko attends the memorial service of her fia...,"[Drama, Romance]",[loveletter],"[MihoNakayama, EtsushiToyokawa, BunjakuHan]",7.8,"[ShunjiIwai, IsaoYukisada, AkaneShiratori]"

In [418]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())
movies_5000['overview'] = movies_5000['overview'].apply(lambda x : x.split())

In [419]:
movies_5000[movies_5000['title'] == 'Avatar']

,id,title,overview,genres,keywords,cast,vote_average,director
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",7.2,[JamesCameron]

In [420]:
movies[movies['title'] == 'Avatar']

,id,title,overview,genres,keywords,cast,vote_average,director
167,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[paraplegic, attachmenttonature, cultureclash,...","[SamWorthington, ZoeSaldaña, SigourneyWeaver]",7.586,"[JamesCameron, LucaKouimelis, AnaMariaQuintana..."

In [421]:
movies['tags'] = movies['overview']
movies_5000['tags'] = movies_5000['overview']

In [422]:
for col in cols:
    if col == 'vote_average': continue
    movies['tags'] += movies[col]
    movies_5000['tags'] += movies_5000[col]

In [423]:
movies.head()

,id,title,overview,genres,keywords,cast,vote_average,director,tags
0,1241982,Moana 2,"[After, receiving, an, unexpected, call, from,...","[Animation, Adventure, Family, Comedy]","[sea, ocean, villain, musical, sequel, duringc...","[AuliʻiCravalho, DwayneJohnson, HualālaiChung]",7.200,"[DavidG.DerrickJr., JasonHand, DanaLedouxMiller]","[After, receiving, an, unexpected, call, from,..."
1,927342,Amaran,"[A, heroic, true, story, of, Major, Mukund, Va...","[Action, Drama, Adventure, War]","[basedonnovelorbook, affectation, basedontrues...","[Sivakarthikeyan, SaiPallavi, RahulBose]",8.167,[RajkumarPeriasamy],"[A, heroic, true, story, of, Major, Mukund, Va..."
2,822119,Captain America: Brave New World,"[After, meeting, with, newly, elected, U.S., P...","[Action, Thriller, ScienceFiction]","[hero, superhero, revenge, blunt, aftercredits...","[AnthonyMackie, HarrisonFord, DannyRamirez]",6.200,"[JuliusOnah, MichelePanelli-Venetis, RobertAlo...","[After, meeting, with, newly, elected, U.S., P..."
3,939243,Sonic the Hedgehog 3,"[Sonic,, Knuckles,, and, Tails, reunite, again...","[Action, ScienceFiction, Comedy, Family]","[moon, sequel, basedonvideogame, burlesque, du...","[JimCarrey, BenSchwartz, KeanuReeves]",7.777,"[JeffFowler, JoeyCoughlin, PeterLyonsCollister...","[Sonic,, Knuckles,, and, Tails, reunite, again..."
4,1160956,Panda Plan,"[International, action, star, Jackie, Chan, is...","[Action, Comedy]","[assistant, zoo, panda, superstar, rescueopera...","[JackieChan, ShiCe, WeiXiang]",7.277,[ZhangLuan],"[International, action, star, Jackie, Chan, is..."

In [424]:
movies.tags[0]

['After',
 'receiving',
 'an',
 'unexpected',
 'call',
 'from',
 'her',
 'wayfinding',
 'ancestors,',
 'Moana',
 'journeys',
 'alongside',
 'Maui',
 'and',
 'a',
 'new',
 'crew',
 'to',
 'the',
 'far',
 'seas',
 'of',
 'Oceania',
 'and',
 'into',
 'dangerous,',
 'long-lost',
 'waters',
 'for',
 'an',
 'adventure',
 'unlike',
 'anything',
 "she's",
 'ever',
 'faced.',
 'Animation',
 'Adventure',
 'Family',
 'Comedy',
 'sea',
 'ocean',
 'villain',
 'musical',
 'sequel',
 'duringcreditsstinger',
 'absurd',
 'AuliʻiCravalho',
 'DwayneJohnson',
 'HualālaiChung',
 'DavidG.DerrickJr.',
 'JasonHand',
 'DanaLedouxMiller']

In [425]:
movies_5000.tags[0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [426]:
new_df = movies[['id', 'title', 'tags','vote_average']]

In [438]:
new_df.sample()

,id,title,tags,vote_average
1015,201550,Life of a King,"[The, true, story, of, one, man's, mission, to...",7.2

In [439]:
new_df_5000 = movies_5000[['id', 'title', 'tags', 'vote_average']]

In [440]:
new_df_5000.sample()

,id,title,tags,vote_average
2845,16241,The Boys from Brazil,"[Nazi, hunter, Ezra, Lieberman, discovers, a, ...",6.6

In [441]:
new_df.shape

(3866, 4)

In [442]:
new_df_5000.shape

(4800, 4)

In [443]:

merged_df = pd.concat([new_df, new_df_5000]).drop_duplicates(subset=['id']).reset_index(drop=True)

In [444]:
print(merged_df.shape)

(7346, 4)

In [445]:
merged_df.tags[0]

['After',
 'receiving',
 'an',
 'unexpected',
 'call',
 'from',
 'her',
 'wayfinding',
 'ancestors,',
 'Moana',
 'journeys',
 'alongside',
 'Maui',
 'and',
 'a',
 'new',
 'crew',
 'to',
 'the',
 'far',
 'seas',
 'of',
 'Oceania',
 'and',
 'into',
 'dangerous,',
 'long-lost',
 'waters',
 'for',
 'an',
 'adventure',
 'unlike',
 'anything',
 "she's",
 'ever',
 'faced.',
 'Animation',
 'Adventure',
 'Family',
 'Comedy',
 'sea',
 'ocean',
 'villain',
 'musical',
 'sequel',
 'duringcreditsstinger',
 'absurd',
 'AuliʻiCravalho',
 'DwayneJohnson',
 'HualālaiChung',
 'DavidG.DerrickJr.',
 'JasonHand',
 'DanaLedouxMiller']

In [ ]:
merged_df.to_csv('../movies.csv')